<app-navbar fixed="true" bgColor="true"></app-navbar>

<div class="container-fluid" style='padding-top: 125px'>
  <div class="page-title">
    <h2 class='text-center'>{{translate.lang.rulesTitle}}</h2>
  </div>
  <div class="content">
    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>
        {{translate.lang.rulesSection1}}
      </h2>
      <p>{{translate.lang.rulesP1}}</p>
      <p>{{translate.lang.rulesP2}}</p>
      <p>{{translate.lang.rulesP3}}</p>
      <p>{{translate.lang.rulesP4}}</p>

      <ul>
        <li>
          <strong>{{translate.lang.rulesStrong1}}:</strong>
          {{translate.lang.rulesLi1}}
        </li>
        <li>
          <strong>{{translate.lang.rulesStrong2}}:</strong>
          {{translate.lang.rulesLi2}}
        </li>
        <li>
          <strong>{{translate.lang.rulesStrong3}}:</strong>
          {{translate.lang.rulesLi3}}
        </li>
      </ul>

      <!-- <h2 class='section-title'>
        {{translate.lang.rulesSection2}}
      </h2>
      <table>
        <thead>
          <tr>
            <th>{{translate.lang.rulesTh1}}</th>
            <th>{{translate.lang.rulesTh2}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{translate.lang.rulesTd1}}
            </td>
            <td>
              {{translate.lang.rulesTd2}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd3}}
            </td>
            <td>
              {{translate.lang.rulesTd4}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd5}}
            </td>
            <td>
              {{translate.lang.rulesTd6}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd7}}
            </td>
            <td>
              {{translate.lang.rulesTd8}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd9}}
            </td>
            <td>
              {{translate.lang.rulesTd10}}
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>

    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>{{translate.lang.rulesSection4}}</h2>

      <p>{{translate.lang.rulesP6}}</p>

      <p>{{translate.lang.rulesP7}}</p>

      <ul>
        <li>
          <strong>{{translate.lang.rulesLi4}}</strong>
        </li>
        <li>
          <strong>{{translate.lang.rulesLi5}}</strong>
        </li>
        <li>
          <strong>{{translate.lang.rulesLi6}}</strong>
        </li>
      </ul>

      <p>{{translate.lang.rulesP8}}</p>

      <p>{{translate.lang.rulesP9}}</p>

      <p>
        <span>{{translate.lang.rulesP10P1}}</span>
        <strong>{{translate.lang.rulesP10S1}}</strong>,
        <strong>{{translate.lang.rulesP10S2}} </strong> <span>{{translate.lang.rulesP10S4}} </span>
        <strong>{{translate.lang.rulesP10S3}} </strong>
        <span>{{translate.lang.rulesP10P2}}</span>
      </p>

      <p>{{translate.lang.rulesP11}}</p>
      <p>{{translate.lang.rulesP12}}</p>
      <p>{{translate.lang.rulesP13}}</p>

      <p>{{translate.lang.rulesP14}}</p>

      <ul>
        <li>{{translate.lang.rulesLi8}}</li>
        <li>{{translate.lang.rulesLi9}}</li>
        <li>{{translate.lang.rulesLi10}}</li>
      </ul>

      <p>{{translate.lang.rulesRes1}}</p>

      <ul>
        <li>{{translate.lang.rulesRes2}}</li>
        <li>{{translate.lang.rulesRes3}}</li>
        <li>{{translate.lang.rulesRes4}}</li>
      </ul>

      <p>{{translate.lang.rulesP15}}</p>
      <p>{{translate.lang.rulesP16}}</p>

      <h2 class='section-title'>{{translate.lang.rulesSection5}}</h2>

      <p>{{translate.lang.rulesP17}}</p>

      <table>
        <thead>
          <tr>
            <th>
              {{translate.lang.rulesTh3}}
            </th>
            <th>
              {{translate.lang.rulesTh4}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&lt; 2.00</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2.01 {{translate.lang.to}} 3.00</td>
            <td>500</td>
          </tr>
          <tr>
            <td>3.01 {{translate.lang.to}} 5.00</td>
            <td>2500€</td>
          </tr>
          <tr>
            <td>5.01 {{translate.lang.to}} 7.00</td>
            <td>5000€</td>
          </tr>
          <tr>
            <td>> 7.01</td>
            <td>{{translate.lang.rulesTd12}}</td>
          </tr>
        </tbody>
      </table>

      <p>{{translate.lang.rulesP18}}</p>

      <ul>
        <li>1st: 50% </li>
        <li>2nd: 30% </li>
        <li>3rd: 20%</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>