<app-navbar fixed="false" bgColor="true"></app-navbar>

<div class="container-fluid">
  <div class="page-title">
    <h2 class='text-center'>CONTEST RULES</h2>
  </div>
  <div class="content">
    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>
        RULES
      </h2>
      <p>
        At any moment it will be running on EYEOU website 6 contests. One is a FREE contest and the other five are entry paid contests.
        Free contest only allows 1 photo per email address, while paid contest allows to upload up to 10 photos.
      </p>
      <p>
        There is a minimum acceptable number of entries (users, or email addresses) required (with few exceptions) to start the contest.
        If at the end of the submission date, this number is not reached the contest will be cancelled or extended few more
        days. If the contest is cancelled all the users will receive back the paid fee.
      </p>
      <p>
        We can still continue with the contest even if the minimum number of acceptable entries is not reached, that decision will
        be decided by EYEOU directors, for each case individually.
      </p>
      <p>
        Each contest will happen in 3 consecutive phases:
      </p>

      <ul>
        <li>
          <strong>OPEN:</strong>
          for submission, period of time when the user can participate and upload up to 10 photos.
        </li>
        <li>
          <strong>REVIEW:</strong>
          by chosen judge, after the OPEN phase the contest will transit to the REVIEW phase where the judge (a minimum of 3 of our
          ambassadors) will be deciding who the winners are.
        </li>
        <li>
          <strong>CLOSED:</strong>
          as soon as the judge makes the final decision the results will be sent for all the participants and the contest will be set
          to CLOSED.
        </li>
      </ul>

      <h2 class='section-title'>
        Contest Times
      </h2>
      <table>
        <thead>
          <tr>
            <th>Time duration of the
              <strong>OPEN</strong> phase</th>
            <th>Time duration of the
              <strong>REVIEW</strong> phase</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1 Week ( 7 days, 168 hours)
            </td>
            <td>
              3 days ( 72 hours)
            </td>
          </tr>
          <tr>
            <td>
              1 Month ( 30 days, 720 hours)
            </td>
            <td>
              3 days ( 72 hours)
            </td>
          </tr>
          <tr>
            <td>
              3 Months (90 days, 2160 hours)
            </td>
            <td>
              5 days ( 72 hours)
            </td>
          </tr>
          <tr>
            <td>
              6 Months (180 days, 4320 hours)
            </td>
            <td>
              5 days ( 72 hours)
            </td>
          </tr>
          <tr>
            <td>
              1 Year (360 days, 8640 hours)
            </td>
            <td>
              5 days ( 72 hours)
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class='section-title'>Contest Awards, entry fee (in euros €) and minimum required entries</h2>

      <table>
        <thead>
          <tr>
            <th>
              Awards(€)
            </th>
            <th>
              Fee(€)
            </th>
            <th>
              minimum entries
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              FREE
            </td>
            <td>
              0
            </td>
            <td>
              N
            </td>
          </tr>
          <tr>
            <td>
              2500
            </td>
            <td>
              5/15/25
            </td>
            <td>
              500/350/100
            </td>
          </tr>
          <tr>
            <td>
              5000
            </td>
            <td>
              10/20/30
            </td>
            <td>
              500/250/200
            </td>
          </tr>
          <tr>
            <td>
              20000
            </td>
            <td>
              25/35/45
            </td>
            <td>
              800/600/500
            </td>
          </tr>
          <tr>
            <td>
              30000
            </td>
            <td>
              35/45/55
            </td>
            <td>
              900/700/600
            </td>
          </tr>
          <tr>
            <td>
              50000
            </td>
            <td>
              50/70/90
            </td>
            <td>
              1000/1400/800
            </td>
          </tr>
          <tr>
            <td>
              100000
            </td>
            <td>
              80/120/150
            </td>
            <td>
              1250/900/700
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        Looking to the second line, we can have a 2500€ contest with an entry fee of 5€ or 15€ or 25€. The value of the entry fee
        will be linked to the time set for the contest as show in the previous table.
      </p>
    </div>

    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>Winners</h2>

      <p>
        The winners will be decided by the chosen judge for that contest, there will be 3 places available for the winners.
      </p>

      <p>
        EYEOU judges will be judging the photos based on the following criteria:
      </p>

      <ul>
        <li>technic </li>
        <li>quality </li>
        <li>originality </li>
        <li>creativity </li>
      </ul>

      <p>In accordance with the contest theme.</p>

      <p>When the contest is finished all the submitted photos will have a score.</p>

      <p>The sum of the score from technic, quality, originality and creativity divided by 4 will give the final judge score.
      </p>

      <p>The sum of the each judge score divided by the number of judges, will give the final score of the photo. </p>
      <p>The photos with the 3 higher final scores will be the winners.</p>
      <p>
        Each criteria will be rated from 0 to 10 where 10 is the best of that criteria and 0 the worst.
      </p>

      <p>
        For instance, on a contest with 3 judges, a photo will be scored like that:
      </p>

      <ul>
        <li>Judge 1: technic: 7 quality: 6 originality: 8 creativity: 5 > Final judge score is 6.50</li>
        <li>Judge 2: technic: 5 quality: 4 originality: 5 creativity: 6 > Final judge score is 5.00</li>
        <li>Judge 3: technic: 8 quality: 6 originality: 7 creativity: 4 > Final judge score is 6.25</li>
      </ul>

      <p>Final score will be set to 5.92 (we take always the integer part of the division and the following 2 decimals)</p>
      <p>In case of tie, the photo that was submitted first, will be the winner with second precision.</p>

      <h2 class='section-title'>Prize money limitations</h2>

      <p>The prize money delivered to the winners will be based on the photo final score and the following scale, which allows
        us to ensure the ultimate quality of our contests:</p>

      <table>
        <thead>
          <tr>
            <th>
              Scores
            </th>
            <th>
              Maximum prize money granted (€)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&lt; 2.00</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2.01 to 3.00</td>
            <td>500</td>
          </tr>
          <tr>
            <td>3.01 to 5.00</td>
            <td>2500€</td>
          </tr>
          <tr>
            <td>5.01 to 7.00</td>
            <td>5000€</td>
          </tr>
          <tr>
            <td>> 7.01</td>
            <td>prize money available</td>
          </tr>
        </tbody>
      </table>

      <p>The winners prize money will be as follow (if score allows it or the maximum amount for the given score, as above):
        </p>

      <ul>
        <li>1st: 50% </li>
        <li>2nd: 30% </li>
        <li>3rd: 20%</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>