<app-navbar fixed="true" bgColor="true"></app-navbar>

<div class="container-fluid" style="padding-top: 125px">
  <div class="page-title">
    <h2 class='text-center'>Terms and Conditions, Privacy Policy and Rules</h2>
  </div>
  <div class="content">
    <div>
      <p>
        If you are visiting or intend to enter eyeou.net, you should read these Terms and Conditions, Privacy Policy and the contests
        Rules. If you have any concern or questions, don’t hesitate to contact us – support@eyeou.net
      </p>
    </div>

    <div class="col-lg-6 col-xs-12">
      <div>
        <h2 class="section-title">Terms and Conditions of use</h2>
        <p>These terms and conditions shall govern your use of EYEOU (www.eyeou.net). This website is managed and operated by
          EYEOU, UNIPESSOAL LDA (“Us” or “We”).</p>
        <p>By using this website, you must accept these terms and conditions in full; accordingly, if you disagree with these
          terms and conditions or any part of these terms and conditions, you must not use this website.</p>
        <p>If you register with this website, submit any material to this website or use any of the website services, we will
          ask you to expressly agree to these terms and conditions.</p>
        <p>You must be at least 18 years of age to use this website (or of the age of majority in jurisdictions in your respective
          country); by using our website or agreeing to these terms and conditions, you warrant and represent to us that
          you are at least 18 years of age (or of the age of majority in jurisdictions in your respective country).</p>
        <p>Copyright notice</p>
        <p>Copyright (c) 2018 Eyeou</p>
        <p>Subject to the express provisions of these terms and conditions: We own all the copyright and other intellectual
          property rights in this website and the material on this website apart from the photographs published on the website.
          All the photographs published on this website are copyrighted by their respective owners as indicated alongside
          each photograph.</p>
        <p>
          We respect your rights and do not claim copyright for works photographs submitted to the Award. You will retain full copyright
          in each entry. In addition, your moral rights are respected. Whenever your work is published on this website you
          will be credited. Failure to publish a credit due to error or oversight shall not be deemed a breach of this condition.
          We will seek to correct any errors or oversights when notified.
        </p>
      </div>

      <div>
        <h2 class="section-title">
          Licence to use website
        </h2>
        <p>You may:</p>
        <ul>
          <li>view pages from our website in a web browser</li>
          <li>download pages from our website for caching in a web browser
          </li>
          <li>subject to the other provisions of these terms and conditions</li>
        </ul>
        <p>
          Except as expressly permitted by the section above or the other provisions of these terms and conditions, you must not download
          any material from our website or save any such material to your computer. You may only use our website for your
          own personal and business purposes, and you must not use our website for any other purposes. Except as expressly
          permitted by these terms and conditions, you must not edit or otherwise modify any material on our website.
        </p>
        <p>Unless you own or control the relevant rights in the material, you must not:</p>
        <ul>
          <li>republish material from our website (including republication on another website)</li>
          <li>sell, rent or sub-license material from our website</li>
          <li>exploit material from our website for a commercial purpose</li>
          <li>redistribute material from our website</li>
        </ul>
        <p>
          We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion; you must
          not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on our website.
        </p>
      </div>

      <div>
        <h2 class="section-title">
          Acceptable use
        </h2>
        <p>
          You must not:
        </p>
        <ul>
          <li>use our website in any way or take any action that causes, or may cause, damage to the website or impairment of
            the performance, availability or accessibility of the website</li>
          <li>use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful,
            illegal, fraudulent or harmful purpose or activity</li>
        </ul>
        <p>You must ensure that all the information you supply to us through our website, or in relation to our website, is
          true, accurate, current, complete and non-misleading.</p>
      </div>

      <div>
        <h2 class="section-title">Registration and accounts</h2>
        <p>Entrants may register for an account with our website by completing and submitting the account registration form
          on our website.</p>
        <p>You must not use any other person’s account to access the website, unless you have that person’s express permission
          to do so.</p>
      </div>

      <div>
        <h2 class="section-title">User login details</h2>
        <p>If you register for an account with our website, you will be asked to choose a user ID and password. Your user ID
          must not be liable to mislead and must comply with the content rules set out below; you must not use your account
          or user ID for or in connection with the impersonation of any person.</p>
        <p>You must keep your password confidential. You must notify us if you become aware of any disclosure of your password.</p>
        <p>Cancellation and suspension of account</p>
        <p>We may:</p>
        <ul>
          <li>suspend your account.</li>
          <li>cancel your account at any time in our sole discretion without notice or explanation.</li>
        </ul>
        <p>You may cancel your account on our website using your account control panel on the website.</p>
      </div>

      <div>
        <h2 class="section-title">Limited warranties</h2>
        <p>We do not warrant or represent:</p>
        <ul>
          <li>the completeness or accuracy of the information published on this website</li>
          <li>that the material on the website is up to date; or that the website or any service on the website will remain available</li>
        </ul>
        <p>We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website,
          at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise
          in these Terms and Conditions and our Rules, you will not be entitled to any compensation or other payment upon
          the discontinuance or alteration of any website services, or if we stop publishing the website.</p>
      </div>

      <div>
        <h2 class="section-title">Limitations and exclusions of liability</h2>
        <p>Nothing in these terms and conditions will:</p>
        <ul>
          <li>limit or exclude any liability for death or personal injury resulting from negligence</li>
          <li>limit or exclude any liability for fraud or fraudulent misrepresentation</li>
          <li>limit any liabilities in any way that is not permitted under applicable law</li>
          <li>exclude any liabilities that may not be excluded under applicable law, and, if you are a consumer, your statutory
            rights will not be excluded or limited by these terms and conditions, except to the extent permitted by law</li>
        </ul>
        <p>The limitations and exclusions of liability set out in this section and elsewhere in these terms and conditions govern
          all liabilities arising under these terms and conditions or relating to the subject matter of these terms and conditions,
          including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except
          to the extent expressly provided otherwise in these terms and conditions.</p>
        <p>We will not be liable to you in respect of any special, indirect or consequential loss or damage. You accept that
          we have an interest in limiting the personal liability of our officers and employees and, having regard to that
          interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally
          against our officers or employees in respect of any losses you suffer in connection with the website or these terms
          and conditions.</p>
      </div>

      <div>
        <h2 class="section-title">Class action waiver</h2>
        <p>You and Eyeou agree that each may bring claims against the other only in your or its individual capacity and not
          as a plaintiff or class member in any purported class or representative action. Unless both you and Eyeou agree,
          no arbitrator or judge may consolidate more than one person’s claims or otherwise preside over any form of a representative
          or class proceeding.</p>
      </div>

      <div>
        <h2 class="section-title">Indemnity</h2>
        <p>You hereby indemnify Eyeou, and undertake to keep us indemnified, against any and all losses, damages, costs, liabilities
          and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement
          of a claim or dispute) incurred or suffered by us and arising directly or indirectly out of your use of this website
          or any breach by you of any provision of these terms and conditions.</p>
      </div>

      <div>
        <h2 class="section-title">Breaches of these terms and conditions</h2>
        <p>Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions
          in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may:.</p>
        <ul>
          <li> send you one or more formal warnings</li>
          <li>temporarily suspend your access to our website</li>
          <li>permanently prohibit you from accessing our website</li>
          <li>block computers using your IP address from accessing our website</li>
          <li>commence legal action against you, whether for breach of contract or otherwise</li>
          <li>suspend or delete your account on our website</li>
        </ul>
        <p>Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any
          action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using
          a different account).
        </p>
      </div>

      <div>
        <h2 class="section-title">
          Third party websites
        </h2>
        <p>
          Our website includes hyperlinks to other websites owned and operated by third parties; such hyperlinks are not recommendations.
          We have no control over third party websites and their contents, and subject to sections above we accept no responsibility
          for them or for any loss or damage that may arise from your use of them.
        </p>
      </div>

      <div>
        <h2 class="section-title">
          Trade marks
        </h2>
        <p>Eyeou trademarks, our logos and our other registered and unregistered trade marks are trade marks belonging to us;
          we give no permission for the use of these trade marks, and such use may constitute an infringement of our rights.</p>
        <p>
          The third party registered and unregistered trade marks or service marks on our website are the property of their respective
          owners and, unless stated otherwise in these terms and conditions, we do not endorse and are not affiliated with
          any of the holders of any such rights and as such we cannot grant any licence to exercise such rights.
        </p>
      </div>

      <div>
        <h2 class="section-title">Variation</h2>
        <p>
          We may revise these terms and conditions from time to time. The revised terms and conditions shall apply to the use of this
          website from the date of publication of the revised terms and conditions on the website, and you hereby waive any
          right you may otherwise have to be notified of, or to consent to, revisions of these terms and conditions.
        </p>
      </div>

      <div>
        <h2 class="section-title">Entire agreement</h2>
        <p>
          These terms and conditions, together with our competition rules, privacy and cookies policy shall constitute the entire agreement
          between you and us in relation to your use of our website and shall supersede all previous agreements between you
          and us in relation to your use of this website.
        </p>
      </div>

      <div>
        <h2 class="section-title">Law and jurisdiction</h2>
        <p>These terms and conditions shall be governed by and construed in accordance with Portuguese laws.</p>
      </div>

      <div>
        <h2 class="section-title">Our details</h2>
        <p>This website is owned and operated by EYEOU, UNIPESSOAL LDA. We are registered in Portugal, our registration number
          is 508184258 and our registered office is at Praça Bartolomeu Dias nº 113 2ªEsq, 2890-138 Alcochete. You can contact
          us by email (support@eyeou.net) or using any other email addresses published on our website.</p>
      </div>

      <div>
        <p>Last updated: 20/08/2018</p>
      </div>
    </div>

    <div class="col-lg-6 col-xs-12">
      <div>
        <h2 class="section-title">Privacy Policy</h2>
        <p>This privacy policy (hereafter, the Privacy Policy) sets out how Eyeou or “Us” or “We”) processes Personal Data and
          how various obligations under the Data Protection Legislation are met.</p>
        <p>EYEOU, UNIPESSOAL LDA is registered in Portugal, our registration number is 508184258 and our registered office is
          at Praça Bartolomeu Dias nº 113 2ªEsq, 2890-138 Alcochete.</p>
        <p>This Privacy Policy applies to all visitors and customers using or accessing this website and our associated services</p>
        <p>For any privacy-related questions, you can contact us by email (support@eyeou.net) or using any other email addresses
          published on our website.</p>
      </div>

      <div>
        <h2 class="section-title">Your rights</h2>
        <p>You may instruct us by email (support@eyeou.net) at any time to not process and/or delete some or all of your personal
          information. This will exclude data we are required to retain for accounting or security purposes, and any data
          we are required to retain by law. In addition, you can unsubscribe from our email newsletters using the link at
          the bottom of each edition.</p>
      </div>

      <div>
        <h2 class="section-title">Collecting personal information</h2>
        <p>We may collect, store and use the following kinds of personal information:</p>
        <ul>
          <li>information about your computer and about your visits to and use of this website – your IP address, geographical
            location, browser type and version, operating system, referral source, length of visit)</li>
          <li>information that you provide to us when you register to a contest – your name, username, billing country, email
            address, social media accounts</li>
          <li>information that you provide when submitting images to the contest – image files and statements or image descriptions.</li>
          <li>information that you provide for the purpose of subscribing to our email notifications and/or newsletters – your
            name and email address</li>
          <li>information that you provide when buying physical content from us – your name, email address and postal address</li>
        </ul>
      </div>

      <div>
        <h2 class="section-title">Using personal information</h2>
        <p>Personal information submitted to us through this website will be used for the purposes specified in this Privacy
          Policy or on the relevant pages of this website. Any information you provide through this website will be used
          in accordance with General Data Protection Regulation 2018 (GDPR). You can refuse to provide personally-identifying
          information, with the caveat that it may prevent you from submitting to the contest or using certain part of the
          website.
        </p>
        <p>Your personal information is collected only for the purpose of administering your entry, membership or other purchase,
          or keeping you abreast of news with the award. This information is kept secure and confidential, and is not shared.
        </p>
        <p>We may also use your personal information to:</p>
        <ul>
          <li>personalize this website for you</li>
          <li>enable your use of the services available on this website</li>
          <li>supply to you services or goods purchased through this website</li>
          <li>send you our email newsletter (you can inform us at any time if you no longer require the newsletter) or other
            “system” emails, such as password reset requests or payment notifications/receipts even if you have not opted-in
            to email marketing lists</li>
          <li>provide third parties with statistical information about our users (but those third parties will not be able to
            identify any individual user from that information)</li>
          <li>manage complaints, feedback and queries, and handle requests for data access or correction, or the exercise of
            other rights relating to Personal Information</li>
          <li>keep this website secure and prevent fraud</li>
          <li>administer social media and web advertising campaigns. These service providers use cookies on our site and/or pixel
            tracking to serve ads across the different platforms – Google AdSense &amp; DoubleClick (privacy policy, opt
            out) Facebook (privacy policy, opt out)</li>
          <li>manage our business operations and IT infrastructure, in line with our internal policies and procedures, including
            those relating to finance and accounting; billing and collections; IT systems operation; data and website hosting;
            data analytics; business continuity; records management; document and print management; and auditing</li>
          <li>comply with applicable laws and regulatory obligations (including laws and regulations outside your country of
            residence), comply with legal process and court orders; and respond to requests from public and government authorities
            (including those outside your country of residence)</li>
          <li>establish and defend legal rights to protect our business operations, and secure our rights, privacy, safety or
            property, and that of our group companies or business partners, you, or other individuals or third parties; to
            enforce our terms and conditions; and pursue available remedies or limit our damages.</li>
        </ul>
        <p>
          All of our financial transactions are handled through our payment services providers, Braintree (privacy policy) and Paypal
          (privacy policy). We will share information with our payment services provider only to the extent necessary for
          the purposes of processing payments you make via this website
        </p>
        <p>Our web servers and hosting are managed by us. This includes website hosting, backups, web database, file storage,
          and log files.</p>
      </div>

      <div>
        <h2 class="section-title">Disclosing personal information</h2>
        <p>We may disclose your personal information to any of our employees, contractors, officers, insurers, professional
          advisers, insofar as reasonably necessary for the purposes set out in this policy. Some of those employees or organizations
          may be located outside of your home country; by using our websites and services, you consent to the transfer of
          such information to them.</p>
        <p>We may disclose your personal information:</p>
        <ul>
          <li>to the extent that we are required to do so by law</li>
          <li>in connection with any ongoing or prospective legal proceedings</li>
          <li>in order to establish, exercise or defend our legal rights</li>
        </ul>
        <p>Except as provided in this policy, we will not provide your personal information to third parties.</p>
        <p>Eyeou acknowledges that all individuals have the right to access the personal information/data that we maintain about
          them. If you want to access, correct, or delete your data, you should contact us as support@eyeou.net.
        </p>
      </div>

      <div>
        <h2 class="section-title">Amendments</h2>
        <p>We may update this policy from time to time by publishing a new version on this website. You should check this page
          occasionally to ensure you are happy with any changes to this policy. We may notify you of changes to this policy
          by email.
        </p>
      </div>

      <div>
        <h2 class="section-title">External links</h2>
        <p>This website includes hyperlinks to, and details of, external websites. We have no control over, and are not responsible
          for, the privacy policies and practices of external websites.
        </p>
      </div>

      <div>
        <h2 class="section-title">Our cookies</h2>
        <p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web
          browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests
          a page from the server. Cookies do not typically contain any information that personally identifies a user, but
          personal information that we store about you may be linked to the information stored in and obtained from cookies.</p>
        <p>
          Cookies may be either “persistent” cookies or “session” cookies: a persistent cookie will be stored by a web browser and
          will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie,
          on the other hand, will expire at the end of the user session, when the web browser is closed. We use both session
          and persistent cookies on this website and the purposes for which they are used, are as follows: to recognize a
          computer when a user visits this website, to track users as they navigate the website, to personalize the website
          for each user and to target advertisements which may be of particular interest to specific users.
        </p>
        <p>
          If you do not wish to have cookies placed on your computer, you should set your browser to refuse cookies before using our
          website. Certain features may not function properly if you do so.
        </p>
        <p>
          We use Google Analytics to analyse the use of this website (privacy policy, opt out). Our analytics service provider generates
          statistical and other information about website use by means of cookies.
        </p>
      </div>

      <div>
        <h2 class="section-title">Data breach procedures</h2>
        <p>Should any event occur where your data has been lost, stolen, or compromised, our policy is to alert you via email
          within 48 hours of our team becoming aware of the event. We will also report such incident to any required authority.
        </p>
      </div>

      <div>
        <p>Last updated: 20/08/2018</p>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="page-title" style="margin-top: 25px">
      <h2 class='text-center'>RULES</h2>
    </div>

    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>
        {{translate.lang.rulesSection1}}
      </h2>
      <p>{{translate.lang.rulesP1}}</p>
      <p>{{translate.lang.rulesP2}}</p>
      <p>{{translate.lang.rulesP3}}</p>
      <p>{{translate.lang.rulesP4}}</p>

      <ul>
        <li>
          <strong>{{translate.lang.rulesStrong1}}:</strong>
          {{translate.lang.rulesLi1}}
        </li>
        <li>
          <strong>{{translate.lang.rulesStrong2}}:</strong>
          {{translate.lang.rulesLi2}}
        </li>
        <li>
          <strong>{{translate.lang.rulesStrong3}}:</strong>
          {{translate.lang.rulesLi3}}
        </li>
      </ul>

      <h2 class='section-title'>
        {{translate.lang.rulesSection2}}
      </h2>
      <table>
        <thead>
          <tr>
            <th>{{translate.lang.rulesTh1}}
              <strong>{{translate.lang.rulesStrong1}}</strong> {{translate.lang.rulesPhase}}</th>
            <th>{{translate.lang.rulesTh2}}
              <strong>{{translate.lang.rulesStrong2}}</strong> {{translate.lang.rulesPhase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{translate.lang.rulesTd1}}
            </td>
            <td>
              {{translate.lang.rulesTd2}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd3}}
            </td>
            <td>
              {{translate.lang.rulesTd4}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd5}}
            </td>
            <td>
              {{translate.lang.rulesTd6}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd7}}
            </td>
            <td>
              {{translate.lang.rulesTd8}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd9}}
            </td>
            <td>
              {{translate.lang.rulesTd10}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class='section-title'>{{translate.lang.rulesSection3}}</h2>

      <table>
        <thead>
          <tr>
            <th>
              {{translate.lang.rulesTh5}} (€)
            </th>
            <th>
              {{translate.lang.rulesTh6}}(€)
            </th>
            <th>
              {{translate.lang.rulesTh7}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              FREE
            </td>
            <td>
              0
            </td>
            <td>
              N
            </td>
          </tr>
          <tr>
            <td>
              2500
            </td>
            <td>
              5/15/25
            </td>
            <td>
              500/350/100
            </td>
          </tr>
          <tr>
            <td>
              5000
            </td>
            <td>
              10/20/30
            </td>
            <td>
              500/250/200
            </td>
          </tr>
          <tr>
            <td>
              20000
            </td>
            <td>
              25/35/45
            </td>
            <td>
              800/600/500
            </td>
          </tr>
          <tr>
            <td>
              30000
            </td>
            <td>
              35/45/55
            </td>
            <td>
              900/700/600
            </td>
          </tr>
          <tr>
            <td>
              50000
            </td>
            <td>
              50/70/90
            </td>
            <td>
              1000/1400/800
            </td>
          </tr>
          <tr>
            <td>
              100000
            </td>
            <td>
              80/120/150
            </td>
            <td>
              1250/900/700
            </td>
          </tr>
        </tbody>
      </table>

      <p>{{translate.lang.rulesP5}}</p>
    </div>

    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>{{translate.lang.rulesSection5}}</h2>

      <p>{{translate.lang.rulesP6}}</p>

      <p>{{translate.lang.rulesP7}}</p>

      <ul>
        <li>{{translate.lang.rulesLi4}}</li>
        <li>{{translate.lang.rulesLi5}}</li>
        <li>{{translate.lang.rulesLi6}}</li>
        <li>{{translate.lang.rulesLi7}}</li>
      </ul>

      <p>{{translate.lang.rulesP8}}</p>

      <p>{{translate.lang.rulesP9}}</p>

      <p>{{translate.lang.rulesP10}}</p>

      <p>{{translate.lang.rulesP11}}</p>
      <p>{{translate.lang.rulesP12}}</p>
      <p>{{translate.lang.rulesP13}}</p>

      <p>{{translate.lang.rulesP14}}</p>

      <ul>
        <li>{{translate.lang.rulesLi8}}</li>
        <li>{{translate.lang.rulesLi9}}</li>
        <li>{{translate.lang.rulesLi10}}</li>
      </ul>

      <p>{{translate.lang.rulesP15}}</p>
      <p>{{translate.lang.rulesP16}}</p>

      <h2 class='section-title'>{{translate.lang.rulesSection5}}</h2>

      <p>{{translate.lang.rulesP17}}</p>

      <table>
        <thead>
          <tr>
            <th>
              {{translate.lang.rulesTh3}}
            </th>
            <th>
              {{translate.lang.rulesTh4}} (€)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&lt; 2.00</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2.01 to 3.00</td>
            <td>500</td>
          </tr>
          <tr>
            <td>3.01 to 5.00</td>
            <td>2500€</td>
          </tr>
          <tr>
            <td>5.01 to 7.00</td>
            <td>5000€</td>
          </tr>
          <tr>
            <td>> 7.01</td>
            <td>{{translate.lang.rulesTd12}}</td>
          </tr>
        </tbody>
      </table>

      <p>{{translate.lang.rulesP18}}</p>

      <ul>
        <li>1st: 50% </li>
        <li>2nd: 30% </li>
        <li>3rd: 20%</li>
      </ul>
    </div>
    
    <div class="clearfix"></div>
  
  </div>

</div>