<app-navbar fixed="true" bgColor="true"></app-navbar>

<div class="container-fluid" style="padding-top: 125px">
  <div class="page-title">
    <h2 class='text-center'>{{translate.lang.termsTitle}}</h2>
  </div>
  <div class="content">
    <div>
      <p>{{translate.lang.termsP1}}</p>
    </div>

    <div class="col-lg-6 col-xs-12">
      <div>
        <h2 class="section-title">{{translate.lang.termsSection1}}</h2>
        <p>{{translate.lang.termsP2}}</p>
        <p>{{translate.lang.termsP3}}</p>
        <p>{{translate.lang.termsP4}}</p>
        <p>{{translate.lang.termsP5}}</p>
        <p>{{translate.lang.termsP6}}</p>
        <p>{{translate.lang.termsP7}}</p>
        <p>{{translate.lang.termsP8}}</p>
        <p>{{translate.lang.termsP9}}</p>
        <p>{{translate.lang.termsP10}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection2}}</h2>
        <p>{{translate.lang.termsP12}}</p>
        <ul>
          <li>{{translate.lang.termsLi1}}</li>
          <li>{{translate.lang.termsLi2}}</li>
          <li>{{translate.lang.termsLi3}}</li>
        </ul>
        <p>{{translate.lang.termsP13}}</p>
        <p>{{translate.lang.termsP14}}</p>
        <ul>
          <li>{{translate.lang.termsLi4}}</li>
          <li>{{translate.lang.termsLi5}}</li>
          <li>{{translate.lang.termsLi6}}</li>
          <li>{{translate.lang.termsLi7}}</li>
        </ul>
        <p>{{translate.lang.termsP15}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection3}}</h2>
        <p>{{translate.lang.termsP16}}</p>
        <ul>
          <li>{{translate.lang.termsLi8}}</li>
          <li>{{translate.lang.termsLi9}}</li>
        </ul>
        <p>{{translate.lang.termsP17}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection4}}</h2>
        <p>{{translate.lang.termsP18}}</p>
        <p>{{translate.lang.termsP19}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection5}}</h2>
        <p>{{translate.lang.termsP20}}</p>
        <p>{{translate.lang.termsP21}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection6}}</h2>
        <p>{{translate.lang.termsP22}}</p>
        <ul>
          <li>{{translate.lang.termsLi10}}</li>
          <li>{{translate.lang.termsLi11}}</li>
        </ul>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection7}}</h2>
        <p>{{translate.lang.termsP23}}</p>
        <ul>
          <li>{{translate.lang.termsLi12}}</li>
          <li>{{translate.lang.termsLi13}}</li>
        </ul>
        <p>{{translate.lang.termsP24}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection8}}</h2>
        <p>{{translate.lang.termsP25}}</p>
        <ul>
          <li>{{translate.lang.termsLi14}}</li>
          <li>{{translate.lang.termsLi15}}</li>
          <li>{{translate.lang.termsLi16}}</li>
          <li>{{translate.lang.termsLi17}}</li>
        </ul>
        <p>{{translate.lang.termsP26}}</p>
        <p>{{translate.lang.termsP27}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection9}}</h2>
        <p>{{translate.lang.termsP28}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection10}}</h2>
        <p>{{translate.lang.termsP29}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection11}}</h2>
        <p>{{translate.lang.termsP30}}</p>
        <ul>
          <li>{{translate.lang.termsLi18}}</li>
          <li>{{translate.lang.termsLi19}}</li>
          <li>{{translate.lang.termsLi20}}</li>
          <li>{{translate.lang.termsLi21}}</li>
          <li>{{translate.lang.termsLi22}}</li>
          <li>{{translate.lang.termsLi23}}</li>
        </ul>
        <p>{{translate.lang.termsP31}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection12}}</h2>
        <p>{{translate.lang.termsP32}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection13}}</h2>
        <p>{{translate.lang.termsP33}}</p>
        <p>{{translate.lang.termsP34}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection14}}</h2>
        <p>{{translate.lang.termsP35}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection15}}</h2>
        <p>{{translate.lang.termsP36}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.termsSection16}}</h2>
        <p>{{translate.lang.termsP37}}</p>
      </div>

      <div>
        <h2 class="section-title">Our details</h2>
        <p>{{translate.lang.termsP38}}</p>
      </div>

      <div>
        <p>{{translate.lang.termsP39}}</p>
      </div>
    </div>

    <div class="col-lg-6 col-xs-12">
      <div>
        <h2 class="section-title">{{translate.lang.privacySection1}}</h2>
        <p>{{translate.lang.privacyP1}}</p>
        <p>{{translate.lang.privacyP2}}</p>
        <p>{{translate.lang.privacyP3}}</p>
        <p>{{translate.lang.privacyP4}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection2}}</h2>
        <p>{{translate.lang.privacyP5}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection3}}</h2>
        <p>{{translate.lang.privacyP6}}</p>
        <ul>
          <li>{{translate.lang.privacyLi1}}</li>
          <li>{{translate.lang.privacyLi2}}</li>
          <li>{{translate.lang.privacyLi3}}</li>
          <li>{{translate.lang.privacyLi4}}</li>
          <li>{{translate.lang.privacyLi5}}</li>
        </ul>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection4}}</h2>
        <p>{{translate.lang.privacyP7}}</p>
        <p>{{translate.lang.privacyP8}}</p>
        <p>{{translate.lang.privacyP9}}</p>
        <ul>
          <lI>{{translate.lang.privacyLi6}}</lI>
          <lI>{{translate.lang.privacyLi7}}</lI>
          <lI>{{translate.lang.privacyLi8}}</lI>
          <lI>{{translate.lang.privacyLi9}}</lI>
          <lI>{{translate.lang.privacyLi10}}</lI>
          <lI>{{translate.lang.privacyLi11}}</lI>
          <lI>{{translate.lang.privacyLi12}}</lI>
          <lI>{{translate.lang.privacyLi13}}</lI>
          <lI>{{translate.lang.privacyLi14}}</lI>
          <lI>{{translate.lang.privacyLi15}}</lI>
        </ul>
        <p>{{translate.lang.privacyP10}}</p>
        <p>{{translate.lang.privacyP11}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection5}}</h2>
        <p>{{translate.lang.privacyP12}}</p>
        <p>{{translate.lang.privacyP13}}</p>
        <ul>
          <li>{{translate.lang.privacyLi16}}</li>
          <li>{{translate.lang.privacyLi17}}</li>
          <li>{{translate.lang.privacyLi18}}</li>
        </ul>
        <p>{{translate.lang.privacyP14}}</p>
        <p>{{translate.lang.privacyP15}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection6}}</h2>
        <p>{{translate.lang.privacyP16}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection7}}</h2>
        <p>{{translate.lang.privacyP17}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection8}}</h2>
        <p>{{translate.lang.privacyP18}}</p>
        <p>{{translate.lang.privacyP19}}</p>
        <p>{{translate.lang.privacyP20}}</p>
        <p>{{translate.lang.privacyP21}}</p>
      </div>

      <div>
        <h2 class="section-title">{{translate.lang.privacySection9}}</h2>
        <p>{{translate.lang.privacyP22}}</p>
      </div>

      <div>
        <p>{{translate.lang.privacyP23}}</p>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="page-title" style="margin-top: 25px">
      <h2 class='text-center'>RULES</h2>
    </div>

    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>
        {{translate.lang.rulesSection1}}
      </h2>
      <p>{{translate.lang.rulesP1}}</p>
      <p>{{translate.lang.rulesP2}}</p>
      <p>{{translate.lang.rulesP3}}</p>
      <p>{{translate.lang.rulesP4}}</p>

      <ul>
        <li>
          <strong>{{translate.lang.rulesStrong1}}:</strong>
          {{translate.lang.rulesLi1}}
        </li>
        <li>
          <strong>{{translate.lang.rulesStrong2}}:</strong>
          {{translate.lang.rulesLi2}}
        </li>
        <li>
          <strong>{{translate.lang.rulesStrong3}}:</strong>
          {{translate.lang.rulesLi3}}
        </li>
      </ul>

      <h2 class='section-title'>
        {{translate.lang.rulesSection2}}
      </h2>
      <table>
        <thead>
          <tr>
            <th>{{translate.lang.rulesTh1}}
              <strong>{{translate.lang.rulesStrong1}}</strong> {{translate.lang.rulesPhase}}</th>
            <th>{{translate.lang.rulesTh2}}
              <strong>{{translate.lang.rulesStrong2}}</strong> {{translate.lang.rulesPhase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{translate.lang.rulesTd1}}
            </td>
            <td>
              {{translate.lang.rulesTd2}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd3}}
            </td>
            <td>
              {{translate.lang.rulesTd4}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd5}}
            </td>
            <td>
              {{translate.lang.rulesTd6}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd7}}
            </td>
            <td>
              {{translate.lang.rulesTd8}}
            </td>
          </tr>
          <tr>
            <td>
              {{translate.lang.rulesTd9}}
            </td>
            <td>
              {{translate.lang.rulesTd10}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class='section-title'>{{translate.lang.rulesSection3}}</h2>

      <table>
        <thead>
          <tr>
            <th>
              {{translate.lang.rulesTh5}} (€)
            </th>
            <th>
              {{translate.lang.rulesTh6}}(€)
            </th>
            <th>
              {{translate.lang.rulesTh7}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              FREE
            </td>
            <td>
              0
            </td>
            <td>
              N
            </td>
          </tr>
          <tr>
            <td>1500</td>
            <td>3/5/10</td>
            <td>500/300/160</td>
          </tr>
          <tr>
            <td>
              2500
            </td>
            <td>
              5/15/25
            </td>
            <td>
              500/350/100
            </td>
          </tr>
          <tr>
            <td>
              5000
            </td>
            <td>
              10/20/30
            </td>
            <td>
              500/250/200
            </td>
          </tr>
          <tr>
            <td>10000</td>
            <td>15/20/30</td>
            <td>700/500/350</td>
          </tr>
          <tr>
            <td>
              20000
            </td>
            <td>
              25/35/45
            </td>
            <td>
              800/600/500
            </td>
          </tr>
          <tr>
            <td>
              30000
            </td>
            <td>
              35/45/55
            </td>
            <td>
              900/700/600
            </td>
          </tr>
          <tr>
            <td>
              50000
            </td>
            <td>
              50/70/90
            </td>
            <td>
              1000/1400/800
            </td>
          </tr>
          <tr>
            <td>
              100000
            </td>
            <td>
              80/120/150
            </td>
            <td>
              1250/900/700
            </td>
          </tr>
        </tbody>
      </table>

      <p>{{translate.lang.rulesP5}}</p>
    </div>

    <div class="col-lg-6 col-xs-12">
      <h2 class='section-title'>{{translate.lang.rulesSection5}}</h2>

      <p>{{translate.lang.rulesP6}}</p>

      <p>{{translate.lang.rulesP7}}</p>

      <ul>
        <li>{{translate.lang.rulesLi4}}</li>
        <li>{{translate.lang.rulesLi5}}</li>
        <li>{{translate.lang.rulesLi6}}</li>
        <li>{{translate.lang.rulesLi7}}</li>
      </ul>

      <p>{{translate.lang.rulesP8}}</p>

      <p>{{translate.lang.rulesP9}}</p>

      <p>{{translate.lang.rulesP10}}</p>

      <p>{{translate.lang.rulesP11}}</p>
      <p>{{translate.lang.rulesP12}}</p>
      <p>{{translate.lang.rulesP13}}</p>

      <p>{{translate.lang.rulesP14}}</p>

      <ul>
        <li>{{translate.lang.rulesLi8}}</li>
        <li>{{translate.lang.rulesLi9}}</li>
        <li>{{translate.lang.rulesLi10}}</li>
      </ul>

      <p>{{translate.lang.rulesP15}}</p>
      <p>{{translate.lang.rulesP16}}</p>

      <h2 class='section-title'>{{translate.lang.rulesSection5}}</h2>

      <p>{{translate.lang.rulesP17}}</p>

      <table>
        <thead>
          <tr>
            <th>
              {{translate.lang.rulesTh3}}
            </th>
            <th>
              {{translate.lang.rulesTh4}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&lt; 2.00</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2.01 {{translate.lang.to}} 3.00</td>
            <td>500</td>
          </tr>
          <tr>
            <td>3.01 {{translate.lang.to}} 5.00</td>
            <td>2500€</td>
          </tr>
          <tr>
            <td>5.01 {{translate.lang.to}} 7.00</td>
            <td>5000€</td>
          </tr>
          <tr>
            <td>> 7.01</td>
            <td>{{translate.lang.rulesTd12}}</td>
          </tr>
        </tbody>
      </table>

      <p>{{translate.lang.rulesP18}}</p>

      <ul>
        <li>1st: 50% </li>
        <li>2nd: 30% </li>
        <li>3rd: 20%</li>
      </ul>
    </div>

    <div class="clearfix"></div>

  </div>

</div>