<div class="siteFooter">
  <div class="footer_1">
    <div class="container">
      <h5>{{'socialTitle' | translate}}</h5>
      <ul class="socialIcons">
        <li>
          <a href="#">
            <img src="assets/images/facebook-logo.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/socialicon3.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/twitter-logo.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/socialicon2.png">
          </a>
        </li>
      </ul>
    </div>
    <!-- <img  id="spnTop" src="assets/images/arrow-up-.png" style="display: block;"> -->
  </div>
</div>


<div class="footer_2">
  <div class="container">
    <div class="row footer-center">
      <div class="col-md-5 col-sm-12">
        <ul>
          <li>
            <a href="#">{{'nav-item.nav-link1' | translate}}</a>
          </li>
          <li>
            <a href="#">{{'help' | translate}}</a>
          </li>
          <li>
            <a href="#">
              <span>{{'ambassador' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-6">
        <p class="copyright">Copyright © 2018</p>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <ul style="text-align: right;">
          <li>
            <a href="#">{{'term-policy' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>