<div class="siteFooter">
  <div class="footer_1">
    <div class="container">
      <h5>{{translate.lang.socialTitle}}</h5>
      <ul class="socialIcons">
        <li>
          <a href="https://www.facebook.com/EYEOU-283241215773023" target="_blank">
            <img src="assets/images/facebook-logo.png">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/eyeounet" target="_blank">
            <img src="assets/images/socialicon3.png">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/eyeounet" target="_blank">
            <img src="assets/images/twitter-logo.png">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/eyeoudotnet" target="_blank">
            <img src="assets/images/socialicon2.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="footer_2">
  <div class="container">
    <div class="row footer-center">
      <div class="col-md-5 col-sm-12">
        <ul>
          <li>
            <a href="#" routerLink='/about'>{{translate.lang.navLink1}}</a>
          </li>
          <li>
            <a href="#" routerLink='/help'>{{translate.lang.help}}</a>
          </li>
          <li>
            <a href="#" routerLink='/ambassador'>
              <span>{{translate.lang.beOurAmbassador}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-6">
        <p class="copyright">Copyright © 2018</p>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <ul style="text-align: right;">
          <li>
            <a routerLink="/terms">{{translate.lang.termPolicy}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>