<div class="navHeader herocontainer container-fluid" [class.navbar-fixed-top]="fixed" [class.bgColor]="bgColor" [class.noBgColor]="!bgColor"
  id="lead-navbar">

  <!-- Site Logo -->
  <a class="navbar-brand sitelogo" routerLink="/">
    <img id="logo-winpic" src="assets/images/eyeouLogo.png" />
  </a>

  <!-- Site navigation Menus -->

  <nav class="navbar-dark navigations no-menu" *ngIf='auth.user'>
    <button mat-icon-button id='button' type="button" class="navbar-toggle collapsed hide-small" data-toggle="collapse" data-target="#navbarCollapseProfile"
      aria-expanded="false" style="max-width: 35px; max-height: 35px; min-width: 35px; min-height: 35px; margin: 0; padding: 0; border-radius: 50%; border: 1px solid #FFF; width: 35px; position: relative; outline: none; top: -10px;">
      <img style="width: 100%; border-radius: 50%; position: absolute; top: 0; left: 0px;" [src]="auth?.user?.profilePictureURL || 'https://s3.amazonaws.com/eyeou-public/anonymous-avatar-sm.jpg'"
        alt="">
    </button>
    <div class="collapse navbar-collapse navbarCollapse" id="navbarCollapseProfile" style="width: auto; margin: 0; top: 50px; height: 95px;">
      <ul class="nav navbar-nav mr-auto">
        <!-- MENU -->
        <li role="nav-item">
          <a routerLink="/me">
            <button mat-button class='profile-button' style="width: 100%; text-transform: uppercase; text-align: left">
              <mat-icon style="position: relative; right: 10px;">account_box</mat-icon>
              <span>{{translate.lang.profile}}</span>
            </button>
          </a>
        </li>

        <li role="nav-item">
          <a class="nav-link" (click)='logout()'>
            <button mat-button style="color: #F00; width: 100%; text-align: left">
              <mat-icon style="position: relative; right: 10px;">exit_to_app</mat-icon>
              <span>{{translate.lang.logout}}</span>
            </button>
          </a>
        </li>
        <!-- / MENU -->
      </ul>
    </div>
  </nav>

  <nav class="navbar-dark navigations float-right">
    <button mat-icon-button id='button' type="button" class="navbar-toggle collapsed hide-small" data-toggle="collapse" data-target="#navbarCollapse"
      aria-expanded="false" style="position: relative; bottom: 13px; right: 20px">
      <mat-icon style="font-size: 35px; top: 5px; color: #FFF">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse navbarCollapse" id="navbarCollapse" style="width: auto; top: 50px; right: 28px;">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/photos'>
            <button mat-button class='photosLink trans'>{{translate.lang.photos}}</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/about'>
            <button mat-button class='trans'>{{translate.lang.navLink1}}</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">
            <button mat-button class='trans'>{{translate.lang.navLink2}}</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/rules'>
            <button mat-button class='trans'>{{translate.lang.navLink3}}</button>
          </a>
        </li>
        <li class="nav-item login" *ngIf='!auth.user'>
          <a class="nav-link" (click)='openDialog()'>
            <button mat-button style="line-height: 30px" class="submit-button">{{translate.lang.login}}</button>
          </a>
        </li>

        <!-- <li class="nav-item" *ngIf='auth.user'>
          <a class="nav-link" (click)='logout()'>
            <button mat-button style="color: #F00; width: 100%">
              <mat-icon style="position: relative; right: 10px;">exit_to_app</mat-icon>
              <span>{{translate.lang.logout}}</span>
            </button>
          </a>
        </li> -->


        <!-- NO MENU -->
        <li class="nav-item menu" *ngIf='auth.user'>
          <button mat-icon-button class='dropdown-toggle' type="button" data-toggle="dropdown" aria-expanded="false" style="max-width: 35px; max-height: 35px; min-width: 35px; min-height: 35px; margin: 0; padding: 0; border-radius: 50%; border: 1px solid #FFF; width: 35px; position: relative; outline: none; top: 1px;">
            <img style="width: 100%; border-radius: 50%; position: absolute; top: 0; left: 0px;" [src]="auth?.user?.profilePictureURL || 'https://s3.amazonaws.com/eyeou-public/anonymous-avatar-sm.jpg'"
              alt="">
          </button>
          <ul class="dropdown-menu">
            <li class="nav-item" *ngIf='auth.user'>
              <a class="nav-link" routerLink='/me'>
                <button mat-button class='profile-button' style="width: 100%; color: #333; text-transform: uppercase; text-align: left">
                  <mat-icon style="position: relative; right: 10px;">account_box</mat-icon>
                  <span>{{translate.lang.profile}}</span>
                </button>
              </a>
            </li>
            <li class="nav-item" *ngIf='auth.user'>
              <a class="nav-link" (click)='logout()'>
                <button mat-button style="color: #F00; width: 100%; text-align: left">
                  <mat-icon style="position: relative; right: 10px;">exit_to_app</mat-icon>
                  <span>{{translate.lang.logout}}</span>
                </button>
              </a>
            </li>
          </ul>
        </li>
        <!-- / NO MENU -->

        <li class="nav-item lang">
          <a *ngIf="translate.showLang == 'pt'" (click)="switchLanguage('en')">
            <button mat-button class='trans'>
              EN
              <span>
                <img src="assets/images/UK-flag.png" style="position: relative; bottom: 1px;" />
              </span>
            </button>
          </a>
          <a *ngIf="translate.showLang == 'en'" (click)="switchLanguage('pt')">
            <button mat-button class='trans'>
              PT
              <span>
                <img src="assets/images/PTflag.png" style="position: relative; bottom: 1px;" />
              </span>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>

</div>