/* site header css */

.bgColor {
  background-color: rgba(0, 0, 0, 0.9);
}

.noBgColor {
  background: transparent;
}

.navbar-brand {
  height: auto !important;
  position: relative;
  top: -30px;
  padding: 0 !important
}

.navHeader.herocontainer{
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.navHeader .sitelogo img {
  max-height: 70px !important;
}

.navHeader .navigations .navbarCollapse .navbar-nav li {
  position: relative;
}

.navigations .navbarCollapse .navbar-nav li a {
  padding: 0;
  background-color: transparent !important
}

.navigations .navbarCollapse .navbar-nav li:not(.login) button:hover {
  color: #5cb85c;
  background-color: transparent !important
}

.navigations .navbarCollapse .navbar-nav li.active a button {
  color: #5cb85c;
}

.navigations .navbarCollapse .navbar-nav li a button {
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out
}

.navigations .navbarCollapse .navbar-nav li:last-child a{
  position: relative;
  cursor: pointer;
}

.navigations .navbarCollapse .navbar-nav li:last-child a img{
  margin-top: -3px;
}

.colorGreen{
  color:#45bf55;
}

.navigations .navbarCollapse .navbar-nav li.lang a {
  font-weight: 300;
}
.navigations .navbarCollapse .navbar-nav li.lang a img {
  max-width: 26px;
  padding-left: 5px;
}

.closeBtn {
  display: none;
}

.navbar {
  min-height: auto !important;
  margin: 0 !important;
  border: none !important
}

@media only screen and (max-width:767px) {
  .menu {
    display: none
  }
  .no-menu {
    display: block;
  }
  .navigations .navbarCollapse .navbar-nav li a button {
    font-size: 16px;
    font-weight: bold
  }
  .navbarCollapse {
      position: fixed;
      width: 100%;
      background-color: #000;
      right: 0;
      z-index: 9999;
      opacity: 1 !important;
      padding: 10px 12px
  }
  .navbarCollapse ul {
    margin: 0;
    padding: 0
  }
  .navbarCollapse ul li a button {
    width: 100%;
    text-align: center
  }
  .navbar-brand {
    left: -20px;
  }
  .navbar-dark .navbar-toggler {
      z-index: 99999999;
  }
}

li.open {
  background-color: #FFF;
  height: 42px;
}

.dropdown-menu {
  top: 41px !important;
  left: -58px;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: inline-block
  }
  .no-menu {
    display: none
  }
  .hide-small {
    display: none
  }
  .float-right {
    float: right;
    position: relative;
    right: 0;
    top: -10px
  }
}

.submit-button {
  background-color: #5cb85c;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Roboto', serif
}

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

.photosLink {
  text-transform: uppercase; 
  color: #2ecc71 !important;
  transition: all 0.1s ease-in-out
}

.photosLink:hover {
  color: #FFF !important
}