<div class="navHeader herocontainer container-fluid" [class.navbar-fixed-top]="fixed" [class.bgColor]="bgColor" [class.noBgColor]="!bgColor"
  id="lead-navbar">

  <!-- Site Logo -->
  <a class="navbar-brand sitelogo" routerLink="/">
    <img id="logo-winpic" src="assets/images/eyeouLogo.png" />
  </a>

  <!-- Site navigation Menus -->
  <nav class="navbar navbar-expand-md navbar-dark navigations" style="float:right;">
    <button mat-icon-button id='button' type="button" class="navbar-toggle collapsed hide-small" data-toggle="collapse" data-target="#navbarCollapse"
      aria-expanded="false" style="position: relative; bottom: 13px">
      <mat-icon style="font-size: 35px; top: 5px; color: #FFF">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="position: relative; bottom: 8px;">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/photos' style="color: #449d44">
            <button mat-button style="text-transform: uppercase" class='trans'>{{translate.lang.photos}}</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/about'>
            <button mat-button class='trans'>{{translate.lang.navLink1}}</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">
            <button mat-button class='trans'>{{translate.lang.navLink2}}</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/rules'>
            <button mat-button class='trans'>{{translate.lang.navLink3}}</button>
          </a>
        </li>
        <li class="nav-item login" *ngIf='!auth.user'>
          <a class="nav-link" (click)='openDialog()'>
            <button mat-button style="line-height: 30px" class="submit-button">{{translate.lang.login}}</button>
          </a>
        </li>
        <li class="nav-item" *ngIf='auth.user'>
          <a class="nav-link" (click)='logout()'>
            <button mat-button style="color: #F00">{{translate.lang.logout}}</button>
          </a>
        </li>
        <li class="nav-item lang">
          <a *ngIf="translate.showLang == 'pt'" (click)="switchLanguage('en')">
            <button mat-button class='trans'>
              EN
              <span>
                <img src="assets/images/UK-flag.png" style="position: relative; bottom: 1px;" />
              </span>
            </button>
          </a>
          <a *ngIf="translate.showLang == 'en'" (click)="switchLanguage('pt')">
            <button mat-button class='trans'>
              PT
              <span>
                <img src="assets/images/PTflag.png" style="position: relative; bottom: 1px;" />
              </span>
            </button>
          </a>
        </li>
      </ul>
      <img class="closeBtn" src="assets/images/cancel.png">
    </div>
  </nav>
</div>