/* site header css */

.bgColor {
  background-color: rgba(0, 0, 0, 0.9);
}

.noBgColor {
  background: transparent;
}

.navbar-brand {
  height: auto !important;
  position: relative;
  top: -30px;
  padding: 0 !important
}

.navHeader.herocontainer{
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.navHeader .sitelogo img {
  max-height: 70px !important;
}

.navHeader .navigations #navbarCollapse .navbar-nav li {
  position: relative;
}

.navigations #navbarCollapse .navbar-nav li a {
  padding: 0;
  background-color: transparent !important
}

.navigations #navbarCollapse .navbar-nav li.active a button {
  color: #45bf55;
}

.navigations #navbarCollapse .navbar-nav li:hover a button {
  color: #45bf55;
  background-color: transparent !important
}

.navigations #navbarCollapse .navbar-nav li a button {
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.navigations #navbarCollapse .navbar-nav li:last-child a{
  position: relative;
  cursor: pointer;
}

.navigations #navbarCollapse .navbar-nav li:last-child a img{
  margin-top: -3px;
}

.colorGreen{
  color:#45bf55;
}

.navigations #navbarCollapse .navbar-nav li.lang a {
  font-weight: 300;
}
.navigations #navbarCollapse .navbar-nav li.lang a img {
  max-width: 26px;
  padding-left: 5px;
}

.closeBtn {
  display: none;
}

.navbar {
  min-height: auto !important;
  margin: 0 !important;
  border: none !important
}

@media only screen and (max-width:767px) {
  #navbarCollapse {
      position: fixed;
      width: 100%;
      background-color: #000;
      right: 0;
      z-index: 9999;
      opacity: 1 !important;
      padding: 10px 12px
  }
  #navbarCollapse ul {
    margin: 0;
    padding: 0
  }
  #navbarCollapse ul li a button {
    width: 100%;
    text-align: center
  }
  .navbar-brand {
    left: -20px;
  }
  .navbar-dark .navbar-toggler {
      z-index: 99999999;
  }
}

@media only screen and (min-width: 768px) {
  .hide-small {
    display: none;
  }
}

.submit-button {
  background-color: #27ae60;
  color: #FFF;
  text-transform: uppercase
}
