/* site header css */

.heroSection {
    background-image: url('../../../assets/images/background.jpg');
    min-height: 100vh;
    background-size: cover;
    padding-top: 30px;
}

.heroSection .display-3 {
    padding: 50px 0 60px;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    text-align: center;
}
.heroSection .display-3 h1{
color: #fff;
    font-weight: 600;
    font-family: 'Mitr', sans-serif;
    line-height: 1;
    text-align: center;
    font-size: 60px;
}
.heroSection .display-3 p{
    color:#A0AFB4;
    font-size: 24px;
}
.colorGreen{
    color:#45bf55;
}

.heroSection .display-3 .lastIcon {
    color:#fff;
    display: inline;
    padding-left: 5px;
}

.heroSection h1 span {
    display: block;
}
.closeBtn {
    display: none;
}


/* Sire header responsive media Queries */

@media only screen and (max-width: 910px) {
    .heroSection .display-3 h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 640px) {
    .heroSection .display-3 h1 {
        font-size: 32px;
    }
    .heroSection .display-3 p {
        font-size: 16px;
    }
    .heroSection .display-3{
        width:90%;
    }
    .navHeader .sitelogo img {
        height: 35px;
    }
}