<div class="heroSection video-background-demo">
  <div class="container">
    <app-navbar fixed="true" bgColor="false"></app-navbar>

    <!-- Hero section title -->
    <div class="display-3">
      <h1>
        <span>{{translate.lang.header}}</span>
        <span class="colorGreen">{{translate.lang.headerGreen}}
          <span class="lastIcon">!</span>
        </span>
      </h1>
      <p>{{translate.lang.headerDesc}}
        <br/>
        <span>
          {{translate.lang.headerDesc2}}
          <img [src]="translate.lang.stampURL" class='stamp' alt="">
        </span>
      </p>
    </div>
  </div>
  <div class="sponsorship">
    <p>In Partnership with</p>
    <img src="../../../assets/images/partners/fujifilm-white.png" alt="">
  </div>
</div>