.container {
  position: relative;
  min-height: 100vh;
  padding: 40px 30px
}

h2 {
  margin: 0 0 15px 0
}

mat-card {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 80%;
}

.full-width {
  width: 100%
}

.submit-button {
  background-color: #45bf55;
  color: #FFF;
  text-transform: uppercase
}

textarea {
  min-height: 60px;
  max-height: 100px;
  resize: vertical
}