<div class="container">
  <app-navbar fixed="true" bgColor="true"></app-navbar>

  <mat-card>
    <div class="content">
      <h2 class='text-center'>{{translate.lang.contactTitle}}</h2>
    </div>
    <p class='text-center'>
      {{translate.lang.contactP1}}
      <a href="mailto:support@eyeou.net">support@eyeou.net</a>
    </p>
    <div class="col-xs-12">
      <h3 class='text-center'>{{translate.lang.sendUsAMessage}}</h3>
      <form [formGroup]='contactForm'>
        <mat-form-field class="full-width">
          <input matInput [placeholder]="translate.lang.name" formControlName='name'>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName='email'>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [placeholder]="translate.lang.subject" formControlName='subject'>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput [placeholder]="translate.lang.message" formControlName='message'></textarea>
        </mat-form-field>
        <div class="text-center">
          <button mat-button class='submit-button' (click)='sendMessage()' [disabled]='contactForm.invalid'>Send</button>
        </div>
        <div class='alert alert-success text-center' style="margin: 17px 0 0 0" *ngIf='msgSent'>
          {{translate.lang.msgSent}}
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </mat-card>

</div>