h2.title {
  margin: 0 0 30px 0;
  text-transform: uppercase;
  text-align: center
}

div.title h5 {
  margin: 0 0 15px 0;
  padding: 10px;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #444;
  text-transform: uppercase;
  background-color: #F5F5F5;
  border-bottom: 1px solid #CECECE;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

div.info {
  background-color: #FFF;
    border: 1px solid #EDEDEDED;
    box-shadow: 0 0 0.5px 1.2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 15px 15px;
    text-align: center;
    padding: 0;
    margin-bottom: 30px
}

div.info div.avatar {
  position: relative;
  top: -100px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px
}

div.info div.avatar div.change {
  opacity: 0;
  transition: all 0.15s ease-in-out;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background:  linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  text-transform: uppercase;
  font-family: 'Roboto', serif;
  cursor: pointer;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

div.info div.avatar div.change span {
  position: relative;
  top: 20px
}

div.info div.avatar:hover div.change {
  opacity: 1;
}

div.info img {
  border-radius: 50%;
  border: 1px solid #CFCFCF;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px
}

div.tabs button {
  width: 100%;
  font-size: 18px;
  text-align: left;
  border-left: 11px solid #45bf55;
  border-top: 1px solid #DEDEDE;
  background-color: #FFF;
  font-family: 'Roboto', serif;
  font-weight: 400;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
  background-color: #F5F5F5
}

div.info h3 {
  margin: 0;
    position: relative;
    top: -80px;
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 27px
}

div.data {
  background-color: #FFF;
  border: 1px solid #EDEDEDED;
  box-shadow: 0 0 0.5px 1.2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 0 0 15px 0;
  overflow: hidden;
  margin-bottom: 30px
}

textarea {
  max-height: 70px
}

@media only screen and (max-width: 768px) {
  h2.title {
    margin-bottom: 115px
  }
}