<app-navbar fixed="true" bgColor="true"></app-navbar>

<div class="container" style='padding: 125px 35px 0 35px; min-height: 70vh;'>
  <h2 class="title">
    My Profile
  </h2>

  <main>
    <div class="col-md-4 col-xs-12">
      <div class="info">

        <mat-spinner *ngIf='loading' style="margin: 0 auto"></mat-spinner>

        <div *ngIf='!loading'>
          <div class='avatar'>
            <img *ngIf='!loadingImage' [src]="user.profilePictureURL || 'https://s3.amazonaws.com/eyeou-public/anonymous-avatar-sm.jpg'" alt="">
            <mat-spinner *ngIf='loadingImage' style="margin: 0 auto"></mat-spinner>
            <div class="change" (click)="selectFile()">
              <span>Change</span>
              <input type="file" #profileImage style="display: none;" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
            </div>
          </div>
          <h3>{{user.firstName || 'Anonymous'}} {{user.lastName || 'User'}}</h3>
          <div class="tabs">
            <button mat-button>
              About Me
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xs-12 data">
      <div class="title">
        <h5>About Me</h5>
      </div>

      <mat-spinner *ngIf='loading' style="margin: 0 auto"></mat-spinner>

      <form [formGroup]="infoForm" *ngIf='!loading'>
        <mat-form-field class='col-xs-6'>
          <input (blur)="blurSave($event.target)" formControlName='firstName' id='firstName' type="text" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field class='col-xs-6'>
          <input (blur)="blurSave($event.target)" formControlName='lastName' id='lastName' type="text" matInput placeholder="Last Name">
        </mat-form-field>
        <div class="clearfix"></div>

        <mat-form-field class='col-xs-6'>
          <input (dateChange)="dateChange($event)" formControlName='birthDate' id='birthDate' matInput [matDatepicker]="picker" placeholder="Birth Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class='col-xs-6'>
          <input (blur)="blurSave($event.target)" formControlName='locationAddress' id='locationAddress' type="text" matInput placeholder="Location Address">
        </mat-form-field>
        <div class="clearfix"></div>

        <mat-form-field class='col-xs-6'>
          <input (blur)="blurSave($event.target)" formControlName='phoneNumber' id='phoneNumber' type="text" matInput placeholder="Phone Number">
        </mat-form-field>
        <mat-form-field class='col-xs-6'>
          <input (blur)="blurSave($event.target)" formControlName='email' id='email' type="text" matInput placeholder="Email Address"
            readonly>
        </mat-form-field>
        <div class="clearfix"></div>

        <mat-form-field class='col-xs-6'>
          <input (blur)="blurSave($event.target)" formControlName='gender' id='gender' type="text" matInput placeholder="Gender">
        </mat-form-field>
        <div class="clearfix"></div>

        <mat-form-field class='col-xs-12'>
          <textarea (blur)="blurSave($event.target)" formControlName='aboutMe' id='aboutMe' matInput placeholder="About Me"></textarea>
        </mat-form-field>
      </form>
    </div>
    <div class="clearfix"></div>
  </main>
</div>