<div class="conteiner">
  <div class="item col-lg-4 col-xs-12" *ngFor="let titles of slidertitle" style='background-color: transparent'>
    <div class="innerItem text-center" style='background-color: #E9E9E9; padding: 20px 15px; min-height: 455px'>
      <div class="figureImage">
        <img src="{{titles.profile}}" />
      </div>
      <h3>{{titles.name}}</h3>
      <h6>{{titles.position[translate.lang.langKey]}}</h6>
      <p>
        {{titles.info[translate.lang.langKey]}}
      </p>
      <p>
        <a [href]="titles.url">{{titles.url}}</a>
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>