<!-- GALLERY LIST START -->
<app-navbar fixed="true" bgColor="true"></app-navbar>

<div class="container" style='padding-top: 125px'>

  <div class="loader" *ngIf="!contest">
    <mat-spinner style="margin: 50px auto"></mat-spinner>
  </div>

  <main *ngIf="contest">
    <div class="contest-info">
      <div class="col-md-4 col-xs-12 contest-image">
        <img [src]="contest.bgprofile_image" alt="Contest Display Picture">
      </div>
      <div class="col-md-8 col-xs-12 contest-status">
        <h2>{{contest.contest_name}}</h2>
        <p>{{contest.contest_title}}</p>
        <div>
          <mat-icon [matTooltip]="translate.lang.remainingTime">access_time</mat-icon>
          <span>{{contest.timeRemains.days}} {{translate.lang.days}} {{contest.timeRemains.hours}} {{translate.lang.hours}}</span>
        </div>
        <div>
          <mat-icon [matTooltip]="translate.lang.yourPhotos">insert_photo</mat-icon>
          <span>{{contest.users[0].images.length}} {{translate.lang.photos}}</span>
        </div>
        <div>
          <mat-icon [matTooltip]="translate.lang.prizeMoney">attach_money</mat-icon>
          <span>{{contest.prize_money}} €</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="center image-upload" style="margin-top: 25px">
      <h3>{{translate.lang.uploadNew}}</h3>
      <div class="alert alert-danger" *ngIf="maxLimitReached">
        {{translate.lang.limitMax + this.uploadLimit + ' ' + translate.lang.photo}}
      </div>
      <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)">
      </file-drop>
      <div class="upload-table">
        <table class="table" *ngIf="previewFiles.length">
          <thead>
            <tr>
              <th>{{translate.lang.name}}</th>
              <th>{{translate.lang.size}}</th>
              <th>{{translate.lang.lastModified}}</th>
              <th>{{translate.lang.type}}</th>
              <th>{{translate.lang.remove}}</th>
              <th>{{translate.lang.status}}</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngFor="let item of previewFiles; let i = index">
              <td>
                <strong>{{ item.name }}</strong>
              </td>
              <td>
                <strong>{{ item.size | converSize }}</strong>
              </td>
              <td>
                <strong>{{ item.lastModifiedDate | date: 'medium' }}</strong>
              </td>
              <td>
                <strong>{{ item.type }}</strong>
              </td>
              <td>
                <button mat-icon-button style="top: -10px" (click)="removeDropped(i)" [disabled]="item.status != 'Added'">
                  <mat-icon style="color: #F00">delete</mat-icon>
                </button>
              </td>
              <td>
                {{ item.status }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <input type="file" multiple accept="image/*" #selectedFiles id='selectedFiles' (change)="dropped($event, true)" style="display: none">
          <button mat-button style="background-color: #41C253; font-weight: bold; color: #FFF; margin-right: 10px" (click)="browseFiles()"
            [disabled]="maxLimitReached">BROWSE</button>
          <button mat-button style="background-color: #41C253; font-weight: bold; color: #FFF" (click)="uploadImages()" [disabled]="maxLimitReached">UPLOAD</button>
          <p>
            {{translate.lang.maxLimitNotice}}
          </p>
        </div>
      </div>
    </div>

    <div class="aws-images">
      <h3>{{translate.lang.yourImages}}</h3>
      <div *ngIf="contest.users[0].images.length">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let image of contest.users[0].images" style="margin: 10px 0">
          <img [src]="image.image_path" alt="Contest Image" style="width: 100%">
        </div>
      </div>
      <div class="alert alert-info" *ngIf="!contest.users[0].images.length">
        {{translate.lang.noImages1}}
        <br> {{translate.lang.noImages2}}
      </div>
    </div>
  </main>

</div>