<app-navbar fixed="false" bgColor="true"></app-navbar>

<div class="container">
  <div class="page-title">
    <h2>Be Our Ambassador</h2>
  </div>
  <div class="content">
    <p>
      If you are already a professional photographer, and you would love to apply to be one of our ambassadors, please feel free
      to send us your curriculum vitae.
    </p>

    <p>
      You can send us
    </p>

    <ul>
      <li>a traditional curriculum vitae </li>
      <li>your linkedin profile</li>
      <li>your personal website</li>
    </ul>

    <p>
      to ambassador@eyeou.net
    </p>

    <p>
      We will answer you in any case.
    </p>
  </div>
</div>