<app-navbar fixed="true" bgColor="true"></app-navbar>

<div class="container-fluid" style='padding-top: 125px'>
  <div class="page-title">
    <h2 class='text-center'>{{translate.lang.ambsTitle}}</h2>
  </div>
  <div class="content">
    <p>
      {{translate.lang.ambsP1}}
    </p>

    <p>
      {{translate.lang.ambsP2}}
    </p>

    <ul>
      <li>{{translate.lang.ambsLi1}} </li>
      <li>{{translate.lang.ambsLi2}}</li>
      <li>{{translate.lang.ambsLi3}}</li>
    </ul>

    <p>
      {{translate.lang.ambsP3}} ambassador@eyeou.net
    </p>

    <p>
      {{translate.lang.ambsP4}}
    </p>
  </div>
</div>