<app-header></app-header>

<!-- GALLERY LIST START -->
<div class="main mainblock" id="main-block">
    <section class="contestSection" id="contestBlock">
        <div class="container-fluid">
            <app-gallery-list></app-gallery-list>
        </div>
    </section>
    <!-- GALLERY LIST START -->

    <!-- // WEEKLY CONTESTS FORM START-->
    <section class="weeklyContest">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="display-4 signup-title">
                        <span> {{translate.lang.weeklyContestTitle}} </span>
                        <span class="colorGreen">{{translate.lang.weeklyContestTitleGreen}}</span>
                    </h1>
                </div>
                <div class="col-md-9 text-center-sm">
                    <form [formGroup]="notifyGroup">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="input-group full-width-sm input-group-lg" style="width: 100%">
                                    <input class="form-control signup-input" formControlName="name" placeholder="{{translate.lang.weeklyContestPlaceholderName}}" type="text">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group full-width-sm input-group-lg" style="width: 100%">
                                    <input class="form-control signup-input" formControlName="email" placeholder="{{translate.lang.weeklyContestPlaceholderEmail}}" type="email">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-success" type="button" (click)='notifyUser()'>{{translate.lang.weeklyContestButton}}</button>
                            </div>
                            <div class="clearfix"></div>
                            <div class='alert alert-success col-xs-6 col-xs-push-1' style="margin-top: 15px" *ngIf='willNotify'>{{translate.lang.notifyNote}}</div>
                            <div class='alert alert-danger  col-xs-6 col-xs-push-1' style="margin-top: 15px" *ngIf='err'>{{translate.lang.enterValidEmail}}</div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- // WEEKLY CONTESTS FORM END-->

    <!---Client Slider Block start -->
    <div class="clientBlock">
        <div class="sliderContainer">
            <h1>{{translate.lang.ambassador}}</h1>
            <div class="sliderSection">
                <app-slider-tiles></app-slider-tiles>
            </div>
        </div>
    </div>
    <!--Clients Block End -->

    <!-- How it works start-->
    <section class="howit-woks">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{translate.lang.howitWorks}}</h1>
                    <app-howit-works></app-howit-works>
                </div>
            </div>
        </div>
    </section>
    <!-- How it works start-->

</div>