<!-- Gallery Popup Start -->
<div style="position: relative;">
  <button mat-icon-button class='trans' (click)="onNoClick()" style="position: absolute; top: 0px; right: 0px">
    <mat-icon>close</mat-icon>
  </button>
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf='!data.entry_price || payed'>
      {{translate.lang.validation}}
    </h4>
    <h4 class="modal-title pull-left" *ngIf='(data.entry_price && !payed) || data.allowPhotos'>
      Checkout
    </h4>
  </div>
  <div class="bar" *ngIf="(data.entry_price && !payed) || data.allowPhotos">
    <h4 style="margin: 0; height: 49px; font-size: 18px">PayPal</h4>
  </div>
  <div class="modal-body">
    <div class="contest">
      <h5>{{translate.lang.contestInfo}}</h5>
    </div>
    <div class="col-lg-6 col-xs-6 col-xs-push-3 text-center">
      <img [src]="data.bgprofile_image[0]" alt="Contest Image" style="width: 100%">
    </div>
    <div class="col-xs-12">
      <h6 style="font-size: 13px; margin-top: 5px;">{{data.contest_name}} - {{data.contest_title}}</h6>
      <div>
        <mat-icon style="font-size: 20px" [matTooltip]="translate.lang.remainingTime">access_time</mat-icon>
        <span style="position: relative; top: -4px; left: 3px;">{{data.timeRemains.days}} {{translate.lang.days}} {{data.timeRemains.hours}} {{translate.lang.hours}}</span>
      </div>
      <div>
        <mat-icon [matTooltip]="translate.lang.prizeMoney">attach_money</mat-icon>
        <span style="position: relative; top: -4px; left: 5px;">{{data.prize_money}} {{_isFinite(data.prize_money) ? '€' : ''}}</span>
      </div>
    </div>
    <div class="clearfix"></div>

    <mat-spinner *ngIf='!transactionChecked' style="margin: 10px auto"></mat-spinner>

    <div class="payment" *ngIf='transactionChecked'>
      <h5 *ngIf="(data.entry_price && !payed) || data.allowPhotos">{{translate.lang.paymentMethod}}</h5>
      <form [formGroup]="paymentForm">
        <div class="row">

          <mat-form-field class="payment col-xs-6" *ngIf="(data.entry_price && !payed) || data.allowPhotos">
            <mat-select [placeholder]="translate.lang.paymentMethod" (selectionChange)="paymentMethodChange($event.value)" formControlName='paymentMethod'
              style="width: 100%">
              <mat-option value="Paypal">Paypal</mat-option>
              <mat-option value="CreditCard">{{translate.lang.card}}</mat-option>
              <mat-option value="promoCode">{{translate.lang.promoCode}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-xs-6" style="padding: 0" *ngIf="(data.entry_price && !payed) || data.allowPhotos">

            <mat-form-field class='payment col-xs-6' *ngIf="paymentMethod == 'promoCode'">
              <mat-select [placeholder]="translate.lang.photos" formControlName='photos'>
                <mat-option value="1">1 {{translate.lang.photo}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class='payment col-xs-6' *ngIf="paymentMethod != 'promoCode'">
              <mat-select [placeholder]="translate.lang.photos" (selectionChange)="checkFees()" formControlName='photos'>
                <mat-option value="1">1 {{translate.lang.photo}}</mat-option>
                <mat-option value="10">10 {{translate.lang.photos}}</mat-option>
                <mat-option value="30">30 {{translate.lang.photos}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class='col-xs-6 '>
              <input matInput formControlName="price" [placeholder]="translate.lang.contestFee" readonly style="width: 100%">
            </mat-form-field>

          </div>

          <div class="clearfix"></div>

          <mat-form-field class='col-xs-6 col-xs-push-3' *ngIf="paymentMethod == 'promoCode'">
            <input matInput formControlName="code" placeholder="Code" style="width: 100%">
          </mat-form-field>

          <div class="clearfix" *ngIf="paymentMethod == 'promoCode'"></div>

          <div class="alert alert-danger text-center" *ngIf='voucherError'>
            {{voucherError}}
          </div>

        </div>

        <div class="termcondition" style="text-align: center; margin: 10px 0; font-size: 13px;">
          <input type="checkbox" style="position: relative; top: 3px" formControlName="term_condition">
          <p style="margin: 0 0 0 5px; display: inline-block;">{{translate.lang.iAgree}}
            <a href="/terms" target="_blank">{{translate.lang.termsAndConditions}}</a>
          </p>
        </div>

        <div *ngIf="(data.entry_price && !payed) || data.allowPhotos" class='text-center '>
          <button type="button" style="text-transform: uppercase" *ngIf="!payed" class="btn btn-success" [disabled]="paymentForm.invalid || clicked"
            (click)="submitform()">{{translate.lang.pay}}</button>
          <button type="button" style="text-transform: uppercase" *ngIf="payed" class="btn btn-success" [disabled]="paymentForm.invalid"
            (click)="navigateToContestPage(data.slug)">
            {{translate.lang.next}}
          </button>
        </div>

        <div *ngIf="!data.entry_price || payed" class='text-center '>
          <button type="button" style="text-transform: uppercase" class="btn btn-success" [disabled]="paymentForm.invalid" (click)="navigateToContestPage(data.slug)">{{translate.lang.next}}</button>
        </div>

      </form>

      <mat-spinner *ngIf='loadingVoucher' diameter="35" style="margin: 10px auto"></mat-spinner>

    </div>

  </div>
</div>