.card-columns {
    -webkit-column-count: 2;
    column-count: 2;
    max-width: 100%;
    -webkit-column-gap: 0;
    column-gap: 0;
}

.grid-element {
    position: relative;
    width: 100%;
    padding: 0.5rem;
}

.grid-element img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.contestcontent {
    background: rgba(50, 205, 50, 0.7);
    width: calc(100% - 10px);
    height: calc(100% - 11px);
    opacity: 0;
    position: absolute;
    top: 6px;
    z-index: 999;
    padding: .5rem;
}

.grid-element:hover .contestcontent {
    opacity: 1;
}

.timeing {
    text-align: center;
    position: relative;
    top: 5px;
    color: #fff;
    width: 100%;
    font-style: italic;
}

.timeing span:last-of-type {
    background-color: transparent;
}

.timeing img {
    width: 20px;
    margin-right: 10px;
    height: auto !important;
    position: relative;
    top: -2px;
}

.innerBlock {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.innerBlock h3 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    letter-spacing: 2px;
    text-shadow: 1px 2px 3px #5c5c5c;
    font-weight: 900;
}

.innerBlock button {
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    cursor: pointer;
}

.innerBlock p {
    width: auto;
    display: inline-block;
    background-color: #fff;
    padding: 5px 20px;
    color: #5cb85c;
    font-family: arial;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 50px;
    border-radius: 50px
}

.imageDesc {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 10%;
    text-align: center;
    color: #fff;
    width: 90%;
}

.imageDesc h2 {
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    letter-spacing: 2px;
    text-shadow: 1px 2px 3px #5c5c5c;
    font-weight: 900;
}

.grid-element:hover .imageDesc {
    opacity: 0;
}

.imageDesc p {
    line-height: 1.2;
    font-weight: 300;
    font-size: 18px;
    text-shadow: 1px 1px 1px #5c5c5c;
}

.contest-duration {
    position: absolute; 
    top: -15px; 
    left: -10px;
}

@media only screen and (max-width: 768px) {
    .imageDesc h2 {
        font-size: 32px
    }
    .innerBlock {
        bottom: 60px
    }
    .innerBlock h3 {
        font-size: 27px
    }
}

@media only screen and (max-width: 700px) {
    .card-columns {
        -webkit-column-count: 1;
        column-count: 1;
        max-width: 100%;
        -webkit-column-gap: 10;
        column-gap: 10;
    }
    .grid-element img {
        height: 270px;
    }
}

@media only screen and (max-width: 640px) {
    .grid-element img {
        height: 250px;
    }
}

@media only screen and (max-width: 1078px) {
    .contest_name_app {
        position: relative;
        top: 20px
    }
    .contest_name_app h2 {
        font-size: 30px;
    }
    .contest-duration {
        left: 0;
        top: -15px
    }
    .imageDesc {
        top: 10%
    }
    .grid-element img {
        height: 240px;
    }
    .innerBlock h3 {
        font-size: 30px !important
    }
    .innerBlock p {
        margin-bottom: 10px;
    }
    div.termcondition {
        width: 115%;
        position: relative;
        left: -15px;
    }
}

.mypaypalbtn {
    margin: auto;
    text-align: center;
}

.duration {
    background-color: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: inline-block;
    margin-left: -7px;
    padding: 2px 8px 4px 8px;
}

.modal-header {
    padding: 0
}

.modal-body {
    background-color: #e2e2e2
}

.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.bottomShare {
    position: absolute;
    right: 10px;
    top: 9px;
}

.bottomShare img {
    width: 30px;
    height: 30px;
}

.bottomShare .show-icons {
    
}

.bottomShare .show-icons ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.bottomShare .show-icons ul li {
    float: left;
    padding: 5px
}