<!-- Gallery content loop Start-->
<div class=" card-columns  grid-column">
  <div class="grid-element" *ngFor="let listing of gallerylist">
    <img class="contestimg" style="width:100%;" [src]="listing.image">
    <div class="imageDesc">
      <span class='contest-duration'>
        <img [src]="listing.badge" style="width: 20px; height: 20px; position: relative; top: -1px; right: 8px;" />
        <span class='duration'>{{listing.openphase_duration | duration}}</span>
      </span>
      <div class="contest_name_app">
        <h2>{{listing.contest_name}}</h2>
        <h2>{{listing.prize_money}} {{_isFinite(listing.prize_money) ? '€' : ''}}</h2>
        <p>{{listing.contest_title}}</p>
      </div>
    </div>
    <div class="contestcontent" style="cursor: pointer;">
      <p class="timeing">
        <span>
          <img src="../../../assets/images/clock.png" alt=""> {{listing.timeRemains.days}} {{translate.lang.days}}
          {{listing.timeRemains.hours}} {{translate.lang.hours}}
        </span>
      </p>

      <div class="bottomShare" (mouseenter)="listing.enableShare()">

        <img src="../../../assets/images/share.png" *ngIf='!listing.share'>

        <div class="show-icons" *ngIf='listing.share'>
          <ul style="background-color: #ededed; border-radius: 6px; box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);">
            <li class="facebook" shareButton="facebook">
              <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 24px; color: #3b5998"></i>
            </li>
            <li class="twitter" shareButton="twitter">
              <i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 24px; color: #55acee"></i>
            </li>
            <li class="linkedin" shareButton="linkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 24px; color: #0077b5"></i>
            </li>
            <li class="instagram" shareButton="instagram" *ngIf='false'>
              <i class="fa fa-instagram" aria-hidden="true" style="font-size: 24px; color: #517fa4"></i>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>

      </div>
      <div class="innerBlock" (click)="openModal(listing)">
        <h3>{{listing.contest_name}}</h3>
        <h3>{{listing.prize_money}} {{_isFinite(listing.prize_money) ? '€' : ''}}</h3>
        <div *ngIf='listing.sponsor' style="padding-bottom: 10px">
          <span style="color: #FFF;
            font-weight: bold;
            font-size: 15px;
            font-family: 'Roboto', serif;
            margin-right: 5px;">by</span>
          <img src="../../../assets/images/partners/fujifilm-white.png" style="width: 15%; height: 15%" alt="">
        </div>
        <p [style.margin-bottom]='listing.sponsor ? "35px" : "50px"'>{{listing.entry_price != 0 ? translate.lang.from + ' ' + 2 + '€' : 'Free'}}</p>
      </div>
    </div>
  </div>
</div>
<div class="sponsorship container text-center" style="padding: 55px 0">
  <img src="../../../assets/images/partners/fujifilm.png" style="width: 18%" alt="">
  <img src="../../../assets/images/badges/black.png" style="width: 13%; padding: 0 5%" alt="">
  <img src="../../../assets/images/partners/fujifilm.png" style="width: 18%" alt="">
  <img src="../../../assets/images/badges/black.png" style="width: 13%; padding: 0 5%" alt="">
  <img src="../../../assets/images/partners/fujifilm.png" style="width: 18%" alt="">
</div>
<!-- Gallery content loop End-->